header{

    border: 3px red solid;
    height: 20%;
}
div.menu{
    display: inline;
    width: 30%;

}
nav{
    border: 5px aqua ridge;
    height: 60%;
}
footer{
    border: 4px yellowgreen solid;
    height: 20%;
}
li.menu{
    list-style-type:none;
    display: inline;
    margin: 35px;
    border: 3px indigo ridge;
}